<!--heredamos de base0 -->
{% extends "base0.html" %}
{% load static %}

<!-- modificamos el bloque -->
{% block content %}



 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Centro De Salud Villa Tunari</h1>
      <p>El Centro de Salud Villa Tunari del Distrito 4, perteneciente a la Red Lotes y Servicios</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">leer mas &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class='col-sm-4 col-xs-12 pull-right'>
	    	<p class='text-aline-center'><h2>{{ titulo }}</h2></p>


            {% block login %}
                <h3>Si desear ver tu historial escanea el :</h3>
                {% if paciente %}
                {% for paciente in paciente %}

                    <table class="table table-bordered" style="text-align: center">
                        <thead >
                            <tr>
                                <td>CODIGO QR</td>
                            </tr>
                        </thead>
                        <tbody class="text-aline-center">
                            <tr>
                                <td>  <img src="{{ paciente.codigoqr.url }}" style="width: 200px"></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary" href="/logout/" role="button">Cerrar Sesion</a></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary" href="{% url 'historial:informe_paciente' paciente.ci%}" role="button">Ver historial</a></td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
                {% endif %}


            {% endblock %}

        </div>
       <div class="col-md-4">



        <h2>Informacion</h2>
        <img class="img-responsive" src="{% static 'img/centro1.jpg' %}" style="width: 300px">
        <p>Centro de Salud de Villa Tunari recibe donación de equipos para prevenir el cáncer de cuello uterino. </p>
        <p><a class="btn btn-secondary" href="http://amibolivia.com/AMI/?p=6149" role="button">Leer mas &raquo;</a></p>
      </div>

    <div class="col-md-4">
        <h2>Centro de Salud </h2>
        <img class="img-responsive" src="{% static 'img/exterior.jpg' %}" style="width: 300px">
        <p>parte exterior del centor de salud</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>


    </div>

    <div class="row">
    <div class="col-md-4">
        <h2>Ambientes</h2>
        <img class="img-responsive" src="{% static 'img/centro2.jpg' %}" style="width: 300px">
        <p>el centro de salud cuenta con diferentes Ambientes</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detaller &raquo;</a></p>
      </div>

  <div class="col-md-4">
        <h2>Ambientes</h2>
        <img class="img-responsive" src="{% static 'img/centro3.jpg' %}" style="width: 300px">
        <p>el centro de salud cuenta con diferentes Ambientes</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>

   <div class="col-md-4">
        <h2>Aviso</h2>
        <img class="img-responsive" src="{% static 'img/aviso.jpg' %}" style="width: 300px">
        <p> el centro de salud informa </p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>
    </div>

  </div>
{% endblock %}